<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>devices and link stations</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/jquery-1.10.2.min.js"></script>
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="js/model.js"></script>
        <script src="bower_components/rxjs/dist/rx.all.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-rx/dist/rx.angular.js"></script>
        <script type="text/javascript">
            ($(function() {
            }));
        </script>
        <script type="text/javascript">

            var app = angular.module('app', ['rx']);

            var getCenterOfLine = function (x1, x2, y1, y2) {
                var dist = Math.sqrt(Math.pow(Math.abs(x2 - x1), 2) + Math.pow(Math.abs(y2 - y1), 2));
            }

        </script>
        <script src="js/directives.js"></script>
        <script src="js/controllers.js"></script>
    </head>
    <body ng-app="app">

        <p>This is a very rudimentary slicks'n'slide clone type of a car game.</p>

        <div ng-controller="main">

            <div style="display: inline-block;margin-right:5px;width: 20%;vertical-align: top">
                <div id="deviceControls" ng-repeat="device in devices">
                    <input type="text" ng-model="device.name "/>
                    <speedometer></speedometer>
                    <powermeter></powermeter>
                    <steering></steering>
                    <gearbox></gearbox>
                </div>
            </div>

            <canvas ng-cloak id="canvas" style="margin-left: 10px;border: 5px solid;">
                <device movingobject rx-drag ng-repeat="device in devices"></device>
            </canvas>
        </div>

        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

    </body>
</html>